<div class="table-container">
  <div class="row">
    <div class="table-buttons">
      <button mat-raised-button (click)="printData()">Print</button>
      <button mat-raised-button (click)="exportCSV()">Export to CSV</button>
    </div>
    <div class="col-xl-8">
      <div class="table-with-label">
        <h2 class="corner-label">History</h2>

        <div class="search-container">
          <mat-form-field appearance="standard">
            <mat-label>Search</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Type to search..."
            />
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            class="full-width-table"
          >
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">
                {{ element.unique_id }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef>User</th>
              <td mat-cell *matCellDef="let element">
                {{ element.user_detail.first_name }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="deliveryman">
              <th mat-header-cell *matHeaderCellDef>Deliveryman</th>
              <td mat-cell *matCellDef="let element">
                {{ element.provider_detail ? element.provider_detail.first_name : ' ' }}
            </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">
                {{ element.completed_at | date : "short" }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef>Total</th>
              <td mat-cell *matCellDef="let element">
                {{ element.order_payment_detail.total }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">
                <span
                  [ngClass]="{
                    badge: true,
                    'bg-danger':
                      element.order_status === 104 ||
                      element.order_status === 103,
                    'bg-success': element.order_status === 25
                  }"
                >
                  {{
                    element.order_status === 104 || element.order_status === 103
                      ? "Cancelled"
                      : element.order_status === 25
                      ? "Completed"
                      : "Other Status"
                  }}
                </span>
              </td>
            </ng-container>
            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <span
                  class="badge bg-dark .rounded-5"
                  data-bs-toggle="modal"
                  data-bs-target="#modalXl"
                  >View Detail</span
                >
              </td>
            </ng-container>

            <!-- Rows -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="onRowClicked(row)"
              [class.selected]="selectedRow === row"
            ></tr>
          </table>

          <!-- Paginator -->
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </div>

    <div class="col-xl-4" >
      <div class="card">
        <div class="card-header d-flex align-items-center bg-none fw-bold">
          Payment Records
          <a
            href="#"
            class="ms-auto text-decoration-none fs-13px text-body text-opacity-50"
            ><i class="bi bi-paypal me-1 fa-lg"></i> Tele Birr USSD</a
          >
        </div>
        <div class="card-body">
          <table class="table table-borderless table-sm m-0">
            <tbody>
              <!-- User info -->
              <strong>User Detail</strong>
              <tr>
                <td class="w-150px">Name</td>
                <td>
                  {{ selectedRow.user_detail.first_name }}
                  {{ selectedRow.user_detail.last_name }}
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td class="fs-13px text-body text-opacity-50">
                  {{ selectedRow.user_detail.email }}
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <hr class="m-0" />
                </td>
              </tr>
              <!-- Order Detail -->
              <strong>Order User Detail</strong>
              <tr>
                <td class="w-150px">Phone</td>
                <td>{{ selectedRow.user_detail.phone }}</td>
              </tr>
              <tr>
                <td>Address</td>
                <td class="w-150px">
                  Current Location ({{ selectedRow.order_payment_detail.total_distance | number:'1.0-2' }})
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <hr class="m-0" />
                </td>
              </tr>
              <!-- Delivery Man Detail -->

                <strong>DeliveryMan </strong>
                <tr>
                  <td class="w-150px">Name</td>
                  <td>
                    {{ selectedRow.provider_detail ? selectedRow.provider_detail.first_name : ' ' }}
                    {{ selectedRow.provider_detail ? selectedRow.provider_detail.last_name : ' ' }}
                  </td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td class="fs-13px text-body text-opacity-50">
                    {{ selectedRow.provider_detail ? selectedRow.provider_detail.email : ' ' }}
                  </td>
                </tr>

              <tr>
                <td colspan="3">
                  <hr class="m-0" />
                </td>
              </tr>
              <tr class="total-row">
                <td class="pb-2" colspan="2"><b>Total</b></td>
                <td class="text-end pb-2 text-decoration-underline">
                  <b>{{selectedRow.order_payment_detail.total}}</b>
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <hr class="m-0" />
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <!-- <div class="card-footer bg-none d-flex p-3">
          <a href="#" class="btn btn-outline-theme ms-auto">Mark as paid</a>
        </div> -->
      </div>
      <!-- <div class="card mb-xl-0 mb-3">
                <div class="card-header fw-bold">
                    {{currency_sign}} {{selectedRow.order_payment_detail.total }}
                </div>
                <div class="card-body">
                    <h5 class="card-title" *ngIf="selectedRow">{{ selectedRow.order_payment_detail.total }}</h5>
                    <h6 class="card-subtitle mb-3 text-body text-opacity-50">
                        Card subtitle</h6>
                        <hr class="opacity-1">
                    <p class="card-text mb-3">Some quick example text to build
                        on the card title and make up the bulk of the card's
                        content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div> -->
    </div>
  </div>
</div>

<!-- detail modal -->
<div class="modal fade" id="modalXl">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title fs-5">Order Detail</div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row ">
            <!-- Order Detail -->
            <div class="col-xl-4 col" *ngIf="selectedRow.cart_detail">
                <div class="card">
                    <div
                      class="card-header d-flex align-items-center bg-none fw-bold">
                      Payment Records
                      <a href="#" class="ms-auto text-decoration-none fs-13px text-body text-opacity-50">
                        <i class="bi bi-paypal me-1 fa-lg"></i> {{currency_sign}}</a>
                    </div>
                    <div class="card-body">
                      <table class="table table-borderless table-sm m-0">
                        <tbody>
                          <tr>
                            <td class="w-150px">Subtotal</td>
                            <td>3 items</td>
                          </tr>
                          <tr>
                            <td>Tax</td>
                            <td>GST 5%</td>
                          </tr>
                          <tr>
                            <td>Shipping Fee</td>
                            <td>
                              promo code:
                              <u class="text-success fw-bold small">FREESHIPPING</u>

                            </td>
                            <td class="text-end">$0.00</td>
                          </tr>
                          <tr>
                            <td class="pb-2" colspan="2"><b>Total</b></td>
                            <td class="text-end pb-2 text-decoration-underline">
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3">
                              <hr class="m-0" />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer bg-none d-flex p-3">
                      <a href="#" class="btn btn-outline-theme ms-auto">Mark as paid</a>
                    </div>
                  </div>
            </div>
            <!-- Order Status -->
            <div class="col-xl-4 col">
                <div class="card">
                    <div
                      class="card-header d-flex align-items-center bg-none fw-bold">
                      Payment Records
                      <a href="#" class="ms-auto text-decoration-none fs-13px text-body text-opacity-50">
                        <i class="bi bi-paypal me-1 fa-lg"></i> View paypal records</a>
                    </div>
                    <div class="card-body">
                      <table class="table table-borderless table-sm m-0">
                        <tbody>
                          <tr>
                            <td class="w-150px">Subtotal</td>
                            <td>3 items</td>
                          </tr>
                          <tr>
                            <td>Tax</td>
                            <td>GST 5%</td>
                          </tr>
                          <tr>
                            <td>Shipping Fee</td>
                            <td>
                              promo code:
                              <u class="text-success fw-bold small">FREESHIPPING</u>

                            </td>
                            <td class="text-end">$0.00</td>
                          </tr>
                          <tr>
                            <td class="pb-2" colspan="2"><b>Total</b></td>
                            <td class="text-end pb-2 text-decoration-underline">
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3">
                              <hr class="m-0" />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer bg-none d-flex p-3">
                      <a href="#" class="btn btn-outline-theme ms-auto">Mark as paid</a>
                    </div>
                  </div>
            </div>
            <!-- Payment info -->
            <div class="col-xl-4 col">
                <div class="card">
                    <div
                      class="card-header d-flex align-items-center bg-none fw-bold">
                      Payment Records
                      <a href="#" class="ms-auto text-decoration-none fs-13px text-body text-opacity-50">
                        <i class="bi bi-paypal me-1 fa-lg"></i> View paypal records</a>
                    </div>
                    <div class="card-body">
                      <table class="table table-borderless table-sm m-0">
                        <tbody>
                          <tr>
                            <td class="w-150px">Subtotal</td>
                            <td>3 items</td>
                          </tr>
                          <tr>
                            <td>Tax</td>
                            <td>GST 5%</td>
                          </tr>
                          <tr>
                            <td>Shipping Fee</td>
                            <td>
                              promo code:
                              <u class="text-success fw-bold small">FREESHIPPING</u>

                            </td>
                            <td class="text-end">$0.00</td>
                          </tr>
                          <tr>
                            <td class="pb-2" colspan="2"><b>Total</b></td>
                            <td class="text-end pb-2 text-decoration-underline">
                            </td>
                          </tr>
                          <tr>
                            <td colspan="3">
                              <hr class="m-0" />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer bg-none d-flex p-3">
                      <a href="#" class="btn btn-outline-theme ms-auto">Mark as paid</a>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
