

<!-- Toolbar -->
<!-- Main App Container -->
<div *ngIf="LoggedIn$ | async; else StoreLogin" class="app-container-with-sidebar">
  <app-headersidebar></app-headersidebar>
  <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
  <div id="content" class="app-content">
    <router-outlet></router-outlet>
  </div>
  <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
</div>

<!-- Login Layout -->
<ng-template #StoreLogin>
  <div class="login-container">
    <router-outlet></router-outlet>
  </div>
</ng-template>

  <!-- app.component.html -->
<!-- <div id="app" class="app">
  <ng-container *ngIf="LoggedIn$ | async">
    <app-headersidebar></app-headersidebar>
    <button class="app-sidebar-mobile-backdrop" data-toggle-target=".app" data-toggle-class="app-sidebar-mobile-toggled"></button>
  </ng-container>

  <div id="content" class="app-content">
    <router-outlet></router-outlet>
  </div>
</div> -->

<!-- app-theme-panel -->




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

