<!-- checkout.component.html -->

<div class="checkout-page" style="padding-top: 100px;">
    <div class="user-information">
        <form [formGroup]="checkoutForm" >
            <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">Address</label>
                <input type="text" [(ngModel)]="search" class="form-control" (input)="onInput()"
                    placeholder="Enter location">
                <div *ngIf="suggestions.length">
                    <ul>
                        <li class="dropdown-item" *ngFor="let suggestion of suggestions"
                            (click)="onSuggestionClick(suggestion)">
                            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ suggestion.description
                            }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-row">
                <input type="text" formControlName="firstName" placeholder="Enter First Name" />
                <input type="text" formControlName="lastName" placeholder="Enter Last Name" />
            </div>
            <div class="form-row">
                <input type="email" formControlName="email" placeholder="Enter Email" />
                <input type="text" formControlName="mobileNumber" placeholder="Enter Mobile No." />
            </div>
            <input type="text" placeholder="Search for location" autocapitalize="off" autocorrect="off" spellcheck="off"
                #search [formControl]="locationControl" />
                <!-- Add formControlName if you are using reactive forms -->
<input type="text" formControlName="location" placeholder="Search for location">

            <!-- Additional input fields -->
            <button type="submit">Place Order</button>
        </form>
    </div>

    <div class="map-container">
        <!-- <google-map [center]="center" [zoom]="zoom" (mapClick)="mapClicked($event)">
            <map-marker [position]="center"></map-marker>
          </google-map> -->
    </div>

</div>